@import "tailwindcss";

/* Google Fonts: Noto Color Emoji */
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");

/* Sayfa düzeni ve varsayılan stiller */
html, body, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #f3f4f6; /* Tailwind bg-gray-100 */
  font-family: 'Inter', 'Noto Color Emoji', sans-serif;
}
